@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: theme('fontFamily.sans');
    color: theme('colors.gray-900');
    background-color: #f8fafc;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }

  #root {
    min-height: 100vh;
  }

  a {
    @apply text-gray-900 no-underline;
  }
}

